* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Vela Sans EB';
    src: url('Assets\\VelaSans-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Vela Sans SB';
    src: url('Assets\\VelaSans-SemiBold.ttf') format('truetype');
}

@media (max-width: 520px) {
    .header {
        background-color: aqua;
    }

    html {
        background-color: #00f5d3;
    }
}

html, body {
    font-family: Vela Sans EB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    color: white;
    background-color: black;
    height: 60px;
    margin: 10px;
    padding: 10px;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    letter-spacing: -4px;
}

p {
    font-size: 32px;
    margin: 10px;
    font-family: Vela Sans SB;
}

.flight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 16px;
    font-size: 8px;
    margin: 10px;
    color: white;
    background-color: black;
    gap: 10px;
    padding: 10px;
    height: 100%;
}

#dates, #cities, #more, #enter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    height: 10px;
}

#cities {
    background-color: black;
    color: white;
    border: 8px solid black;
    width: auto;
    height: 40px;
}

#dates {
    color: black;
    background-color: white;
    border-radius: 8px;
    height: 40px;
}

#enter {
    color: #00f5d3;
    height: 40px;
}

#black {
    border: 0;
    /* border-radius: 10px; */
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 32px;
    flex: 1 1 auto;
    box-sizing: border-box;
}

#black:hover {
    border: 0;
    border-bottom: 2px solid white;
}

#black:focus {
    border-bottom: 4px solid white;
    border-color: #00f5d3;
}


#black::placeholder {
    color: white;
}

#white {
    border: 0;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    font-size: 32px;
    width: 100px;
}

#white:hover {
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid black;
}

#white:focus {
    border-bottom: 4px solid black;
}

#white::placeholder {
    color: black;
}

input {
    border-radius: 0px;
}

button {
    border: 0;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 32px;
    cursor: pointer;
    text-align: center;
    /* padding: 10px; */
    height: 40px;
}

button:hover {
    color: #00f5d3;
}